@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=Rakkas&display=swap');

/* Variáveis */
:root {
    --primary-color: #264f53e3;
    --secondary-color: #a390d6;
    --text-color: #f0f4f5;
    --background-color: #8ab2c2;
    --button-hover: #19a6dd;
    --font-body: "Chocolate Classical Sans", serif;
    --font-titulo: "Rakkas", serif;
}



/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}

/* Corpo da página */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

h3 {
    margin-top: 25px;
}

p {
    margin-top: 20px;
}

img {
    max-width: 90%;
}

div class="container">
  <h1>Lencois Maranhenses</h1>
  <img src="sua-imagem.jpg" alt="Descrição da imagem" />
</div>
.container {
  text-align: center; /* Centraliza o conteúdo dentro do container */
}

img {
  display: block; /* Remove o espaço em linha ao redor da imagem */
  margin: 0 auto; /* Centraliza a imagem horizontalmente */
}